.vipho-callback-button {
  $size: 64px;
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: $size;
  height: $size;
  border-radius: $size/2;
  border: none;
  cursor: pointer;
  background-image: url(../assets/phone.png);
  background-position: center center;
  background-repeat: no-repeat;
}
